<footer>
  <h2>More information</h2>
  <nav aria-label="More links for this project">
    <ul>
      <li>
        <a href="https://github.com/ndorfin/pttrnr" rel="noopener noreferrer">
          Source on GitHub
        </a>
      </li>
      <li>
        <a href="https://github.com/ndorfin/pttrnr/graphs/contributors" rel="noopener noreferrer">
          Made by these folks
        </a>
      </li>
    </ul>
  </nav>
</footer>