<!DOCTYPE html>
<html lang="{{ global.site.lang }}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ '/css/pattern_library.css' | url }}">
{% include "title.njk" %}
{% include "site_meta.njk" %}
{% include "site_header.njk" %}
{% include "site_navigation.njk" %}
<main>
  {% include "page_header.njk" %}
  {{ content | safe }}
</main>
{% include "site_footer.njk" %}
