---
pagination:
  data: patterns
  size: 1
  alias: pattern
  resolve: values
permalink: "/patterns/{{ pattern.group_id }}/{{ pattern.id }}/example/index.html"
layout: "pattern_example.njk"
---

{{ pattern.code | safe }}