---
pagination:
  data: patterns
  size: 1
  alias: pattern
  resolve: values
permalink: "/patterns/{{ pattern.group_id }}/{{ pattern.id }}/index.html"
layout: "patterns.njk"
---
{% if pattern.example %}
  <section id="section_example">
    <header>
      <h3>Example</h3>
    </header>
    <iframe src="example/"></iframe>
  </section>
  {% if pattern.example.code %}
    <section id="section_code">
      <header>
        <h3>Code</h3>
      </header>
      {# Keep this on one line to avoid unnecessary whitespace #}
      <pre><code>{{ pattern.example.code | escape }}</code></pre>
    </section>
  {% endif %}
{% endif %}

{% if pattern.notes %}
  <section id="section_code">
    <header>
      <h3>Notes</h3>
    </header>
    {{ pattern.notes | markdown | safe }}
  </section>
{% endif %}