---
section:
  title: Patterns
  heading: Patterns
pagination:
  data: patterns
  size: 1
  alias: pattern
  resolve: values
permalink: "/patterns/{{ pattern.group_id }}/{{ pattern.id }}/index.html"
layout: "patterns.njk"
---

<iframe src="example/"></iframe>