<!DOCTYPE html>
<html lang="{{ global.lang }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "./_partials/title.njk" %}
  </head>
  <body>
    {% include "./_partials/site_header.njk" %}
    {% include "./_partials/site_navigation.njk" %}
    <main>
      {% include "./_partials/page_header.njk" %}
      {{ content | safe }}
    </main>
    {% include "./_partials/site_footer.njk" %}
  </body>
</html>