<footer>
  <p>
    <a href="https://github.com/ndorfin/pttrnr/" rel="noopener noreferrer">
      View the source on GitHub
    </a>
  </p>
  <p>
    <a href="https://github.com/ndorfin/pttrnr/graphs/contributors" rel="noopener noreferrer">
      Made with love by these folks
    </a>
  </p>
</footer>